* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", serif;
}

.block1 {
    width: 100%; /* Makes the div span the full width of its parent container */
    /*background-color: #yourColor; !* Replace with the desired background color *!*/
    /* Alternatively, you can use an image as background */
    background-image: url('../images/bg1.png'); /* Replace with your image URL */
    background-size: cover; /* Ensure the background image covers the full area */
    background-position: center; /* Position the background image at the center */
    height: 100vh;
    display: flex;
    /*margin: 0 auto;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    font-family: "Montserrat", serif;
    padding: 20px;
    padding-top: 0;
    /*position: relative;*/
    justify-content: space-between;

}

.header {
    display: flex;
    background: white;
    border-bottom-left-radius: 30px; /* No radius for bottom-left corner */
    border-bottom-right-radius: 30px;
    width: 200px;
    padding: 20px;
    margin-left: 300px;


}

h1 {
    color: white;
    font-size: 60px;
    font-weight: 800;
    text-transform: uppercase;

}

.title {
    margin-top: 50px;
}

.left {


    z-index: 20;
    margin-left: 100px;
}

.right {
    background-image: url('../images/p1.png');
    background-size: cover; /* Ensure the background image covers the full area */
    background-position: center;
    width: 100%;

    /*top: 0;*/
    /*right: 0;*/

}


.img2 {
    position: absolute;
    bottom: 0;
    right: 10%;
    z-index: 10;
    max-width: 50%;
    object-fit: cover;
}

.block2 {
    width: 100%; /* Makes the div span the full width of its parent container */
    background-image: url('../images/bg2.png'); /* Replace with your image URL */
    background-size: cover; /* Ensure the background image covers the full area */
    background-position: center; /* Position the background image at the center */
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", serif;
    padding: 20px; /* Optionally add padding for spacing around the content */
}


.title2 {
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    margin: 0 auto;
    padding-top: 30px;
}

.center {
    margin: 0 auto;
    padding-bottom: 40px;
}

.content {
    display: flex;
    background-image: url('../images/bg3.png'); /* Replace with your image URL */
    background-size: cover; /* Ensure the background image covers the full area */
    background-position: center; /* Position the background image at the center */
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;

}

.w100 {
    max-width: 1100px;
    margin: 0 auto;
}

.text {
    color: white;
    padding-left: 20px;
}

.text h4 {
    font-weight: 600;
    font-size: 20px;
}

.text p {
    font-weight: 300;
    font-size: 15px;
}

p {
    font-weight: 300;
}

.item {
    max-width: 350px;
}

.item .img {
    object-fit: cover;

    /*width: 100%;*/
    /*height: 100%;*/
}


.w60w {
    width: 60%;
}

.w40w {
    width: 40%;
}

.inst {
    display: flex;
    flex-direction: column;
    max-height: 400px;
    justify-content: center;
}

button {
    width: 260.461px;
    height: 52.466px;
    flex-shrink: 0;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    background: #F0C390;
    border: none;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 3px;
    margin-top: 40px;
       transition: all 0.3s ease; /* Плавний перехід для всіх властивостей */
}

button:hover {
    background: #947752; /* Зміна кольору фону */
    transform: scale(1.05); /* Легке збільшення кнопки */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Додаємо тінь */
    color: #fff; /* Залишаємо білий колір тексту */
}

button:focus {
    outline: none; /* Вимикає стандартну рамку при фокусуванні */
}

.block {

    height: 100vh;
    width: 100%; /* Makes the div span the full width of its parent container */
    background-image: url('../images/Rectangle (9).png'); /* Replace with your image URL */
    background-size: cover; /* Ensure the background image covers the full area */
    background-position: center; /* Position the background image at the center */
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", serif;
    padding: 20px; /* Optionally add padding for spacing around the content */
}

.block4 {
    width: 100%;
    /*max-width: 1100px;*/
    /*height: 100vh;*/
    background-image: url('../images/Rectangle (9).png'); /* Replace with your image URL */
    background-size: cover; /* Ensure the background image covers the full area */
    background-position: center;
    padding: 20px;

}

.bg4 {
    max-height: 470px;
}

.pl {
    /*position: relative;*/
    display: flex;
}

.pl img {
    object-fit: cover;
    /*width: 100%;*/
    height: 100%;
    /*width: 200px;*/
    /*position: absolute;*/
    /*bottom: 0;*/
    /*right: 0;*/
}

.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.n {
    object-fit: cover;
    width: 200px;
    height: 300px;
}

.container {
    padding-top: 30px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.m {
    object-fit: cover;
    /*max-width: 150px;*/
    /*width: 100%;*/
    width: 100px;
    /*height: 100%;*/
    height: 50px;
}

.intro-list {
    margin-top: 30px;
}

.intro-list li {
    color: white;
    font-size: 20px;
    font-weight: 300;
    /*text-align: center;*/
    margin-bottom: 20px;
}

.block6 svg {
    width: 100%;

}

.op {
    background: rgba(255, 255, 255, 0.2);
    width: 100%;
    /*height: 400px;*/
    border-radius: 40px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 40px;


}

.girl {

    width: 400px;
    max-height: 600px;

}

.op2 {

    width: 100%;
    height: 400px;
    border-radius: 40px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 40px;


}

.header {
    width: 100%;
    max-width: 300px;


    margin-left: 10px;
}

.header img {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    border-bottom-left-radius: 30px; /* No radius for bottom-left corner */
    border-bottom-right-radius: 30px;
}

.op button {
    margin: 0 auto;
    margin-bottom: 40px;
}

.title2 span {
    margin-left: 20px;
}

.d-flex {
    display: flex;
    margin: 0 auto;
    align-items: flex-end;
}

.m-flex {
    display: none;

}

.big {
    width: 387px;
}

ul li {
    margin-bottom: 20px;
    font-size: 20px;
}

.p-text {
    margin-bottom: 30px;
    font-size: 25px;
}

@media screen and (max-width: 768px) {
    /*body{*/
    /*    padding: 10px;*/
    /*}*/
    .content {
        overflow: hidden;
        padding: 10px;

        flex-direction: column;
    }

    .w100 {
        flex-direction: column;
    }

    .left {

        margin-left: 10px;
    }

    h1 {
        color: white;
        font-size: 30px;

        font-weight: 800;
        text-transform: uppercase;
        max-width: 400px;
    }

    /*.header {*/
    /*    width: 100%;*/
    /*    max-width: 300px;*/
    /*    background: ;*/
    /*    margin-left: 10px;*/
    /*}*/
    /*.header img{*/
    /*    width: 100%;*/
    /*    max-width: 100%;*/
    /*    object-fit: cover;*/
    /*}*/
    .img2 {

        max-width: 100%;

    }

    .block1 {

        justify-content: space-between;
        flex-direction: column;
        overflow: hidden;
    }

    .img2 {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 10;
        max-width: 100%;
        object-fit: cover;
        height: 449px;
    }

    .title2 span {
        margin-left: 350px;
    }

    .content {
        padding: 0;
        padding-top: 20px;
    }

    .bg4 {
        width: 91%;
        overflow: hidden;
    }

    .container {
        padding-top: 30px;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    .w60w {
        width: 100%;
        /*padding: 20px;*/
    }

    .pl {
        /* position: relative; */
        display: flex;
        flex-direction: column;
        /*align-items: center;*/
    }

    .w40w {
        width: 91%;
        /*padding: 20px;*/
    }


    .op {
        background: rgba(255, 255, 255, 0.2);
        width: 68%;
        /* height: 400px; */
        border-radius: 40px;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .item {
        max-width: 350px;
        margin-bottom: 20px;
    }

    .d-flex {
        display: none;
    }

    .m-flex {
        display: flex;
        font-family: "Lobster", sans-serif;
        font-weight: 400;
        color: #F0C390;
    }

    .m-flex h1 {
        display: flex;
        font-family: "Lobster", sans-serif;
        font-weight: 400;
        color: #F0C390;
        margin-bottom: 30px;
        text-align: center;
    }

    .op2 {
        /*width: 100%; */

        max-width: 91%;
        padding: 0;

    }

    .block2 {
        width: 91%;

        padding: 20px;
    }

    .block1 {
        width: 91%;
    }

    .block4 {
        width: 91%;
    }

    .big {
        /* width: 373px; */
        width: 100%;
        padding: 10px;
    }

    .bg4 {
        max-height: 100%;
    }

    .middle {

        margin-bottom: 20px;
    }

}
/* Додаємо початковий стиль для блоків, які будуть невидимі */
.block1, .block2, .block4 {
    opacity: 0;
    transform: translateY(50px); /* Початковий зсув */
    transition: opacity 0.6s ease, transform 0.6s ease;
}

/* Клас, який додається при досягненні блоком області видимості */
.visible {
    opacity: 1;
    transform: translateY(0); /* Плавно пересуваємо блок в початкове положення */
}

